# turn off directory browsing
IndexIgnore *

# show custom error pages for these HTTP statuses
ErrorDocument 401 /error/not_allowed.html
ErrorDocument 403 /error/not_allowed.html
ErrorDocument 404 /error/not_found
ErrorDocument 500 /error/godzilla_rampage.html
