---
layout: home-page
---
{% include header.html %}
<main>
    {% include_relative new-design/slider-area.html %}
    {% include_relative new-design/get-bitcoin-clarity-div.html %}
    {% include_relative new-design/landing-page.html %}
    {% include_relative new-design/tweets-page.html %}
    {% include_relative new-design/about-page-start.html %}
    {% include_relative new-design/about-page-end.html %}
    {% include_relative new-design/get-bitcoin-clarity-div.html %}
    {% include_relative new-design/slider-area.html %}
    {% include_relative new-design/good-reads-widgets.html %}
    {% include_relative new-design/service-area.html %}
</main>
