<section class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center" style="padding-top:50px;">
                <div class="section-title service-title ">
                    <h1>Why Bitcoin Clarity?</h1>
                </div>
                <div class="about-desc text-left">
                    <p>Let's be honest, most people aren't buying into Bitcoin because they expect to use it peer-to-peer. Most people are buying it for the hype. Hype draws people in like flies on a dead possum. Which is to say, that once people are drawn in, they don't care what brought them there.</p>
                    <p>If you want a straight-forward way to separate the signal from the hype, to understand Bitcoin as a system, I've put together Bitcoin Clarity to explain everything you need to know with the beauty of <a href="https://www.youtube.com/watch?v=oUBQPIk9Wh8">Vivaldi's storm.</a></p>
                </div>
            </div> 
        </div>
    </div>
</section>