  <section class="contact about-area service-area grey-bg">
      <div class="two-columns-form">
          <div class="container two-columns-container">
              <div class="row">

                  <div class="col-md-6 col-12 order-1 columns">
                      <h2><b>Step 2: Join The Inner Circle.</b></h2>
                      <p>
                        This is the closest a newsletter will ever get to mailing you bitcoin.
                      </p>
                  </div>
                  <div class="col-md-6 col-12 order-2 columns">
                      <div class="form-box">
                          <div class="form-group">
                              <h4 class="form-title"><b>Get New Articles in Your Inbox</b></h4>
                              <form method="POST" action="https://bickersandson.activehosted.com/proc.php" id="_form_27_" novalidate>
                                  <input type="hidden" name="u" value="27" />
                                  <input type="hidden" name="f" value="27" />
                                  <input type="hidden" name="s" />
                                  <input type="hidden" name="c" value="0" />
                                  <input type="hidden" name="m" value="0" />
                                  <input type="hidden" name="act" value="sub" />
                                  <input type="hidden" name="v" value="2" />
                                  <input type="hidden" name="or" value="069746cf23f9401a0e1c631c40bc0fbb" />
                                  <div class="input-group">
                                      <input type="text" class="form-control" id="email" name="email" placeholder="Email address" required/>
                                      <button id="_form_27_submit" class="btn-white-hover" type="submit">
                                          Take the Pill and Subscribe.
                                      </button>
                                  </div>
                                  <div class="form-text">
                                      A list strictly reserved for thinkers, builders, and creatives. No spam.
                                  </div>
                                  <div class="_clear-element">
                                  </div>
                                  <div class="_form-thank-you" style="display:none;">
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </section>
