<footer class="footer-section" style="padding-bottom: 100px;">
  <div class="copyright-area">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="footer-title">
              <a href="https://jamesclear.com" aria-label="Home">
                <h3>KIARA BICKERS</h3>
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6 col-lg-6">
            <div class="footer-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vehicula auctor facilisis. Aliquam at risus eget ex porta commodo. Curabitur eu euismod orci. Proin condimentum laoreet scelerisque.
                <br>Copyright &copy; 2020. All Right Reserved <a href="{{site.baseurl}}/">Bitcoin Clarity</a>
            </div>
            <div class="footer-columns">
              <div class="footer-columns-item"><a href="https://getbitcoinclarity.com/">Privacy &amp; Terms of Use</a></div>
              <div class="footer-columns-item"><a href="https://getbitcoinclarity.com/" target="_blank">Hosting by LiquidWeb</a></div>
              <div class="footer-columns-item"><a href="https://getbitcoinclarity.com/" target="_blank">Forms by OptinMonster</a></div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 footer-menus">
            <div class="row">
              <div class="col-lg-3 offset-lg-3 text-left">
                <ul class="footer-menu">
                  <li><a href="{{site.baseurl}}/">Ideas</a></li>
                  <li><a href="{{site.baseurl}}/terms">Articles</a></li>
                  <li><a href="{{site.baseurl}}/privacy">Articles</a></li>
                </ul>
              </div>
              <div class="col-lg-3 text-left">
                <ul class="footer-menu">
                  <li><a href="{{site.baseurl}}/">Books</a></li>
                  <li><a href="{{site.baseurl}}/terms">Bitcoin Clarity</a></li>
                  <li><a href="{{site.baseurl}}/privacy">Bitcoin Clarity</a></li>
                </ul>
              </div>
              <div class="col-lg-3 text-left">
                <ul class="footer-menu">
                  <li><a href="{{site.baseurl}}/">Links</a></li>
                  <li><a href="{{site.baseurl}}/terms">Twitter</a></li>
                  <li><a href="{{site.baseurl}}/privacy">Instagram</a></li>
                </ul>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <p><center>© THIS SITE IS NOT A PART OF THE FACEBOOK WEBSITE OR FACEBOOK INC.<br>ADDITIONALLY, THIS SITE IS NOT ENDORSED BY FACEBOOK IN ANY WAY. FACEBOOK IS A TRADEMARK OF FACEBOOK, INC.</center></p> -->
  </div>
</footer>
