<footer class="footer-section">
  <div class="copyright-area">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="footer-title">
              <a href="{{site.baseurl}}/" aria-label="Home">
                <h3>KIARA BICKERS</h3>
              </a>
            </div>
            <div class="footer-text">
              <p>Copyright &copy; 2020. All Right Reserved <a href="{{site.baseurl}}/" style="color: #999;">Bitcoin Clarity</a></p>
          </div>
          </div>
          <div class="col-md-6 col-12 footer-menus">
            <div class="row">
              <div class="col-md-4 offset-md-4 col-6">
                <ul class="footer-menu">
                  <li>Resources</li>
                  <li><a href="{{site.baseurl}}/articles/">Mircro Articles</a></li>
                  <li><a href="{{site.baseurl}}/blog/">Blog Videos</a></li>
                </ul>
              </div>
              <div class="col-md-4 col-6">
                <ul class="footer-menu">
                  <li>Links</li>
                  <li><a href="https://twitter.com/kiarabickers">Twitter</a></li>
                  <li><a href="https://www.instagram.com/kiarabickers/">Instagram</a></li>
                </ul>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <p><center>© THIS SITE IS NOT A PART OF THE FACEBOOK WEBSITE OR FACEBOOK INC.<br>ADDITIONALLY, THIS SITE IS NOT ENDORSED BY FACEBOOK IN ANY WAY. FACEBOOK IS A TRADEMARK OF FACEBOOK, INC.</center></p> -->
  </div>
</footer>
