<footer class="footer-section">
  <div class="copyright-area">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="footer-title">
            <a href="{{site.baseurl}}/" aria-label="Home">
              <h3>KIARA BICKERS</h3>
            </a>
          </div>
          <div class="footer-text">
            <p>
              Copyright &copy; {{ "now" | date: "%Y" }}. All Rights Reserved
              <a href="{{site.baseurl}}/" style="color: #999"
                >Bitcoin Clarity</a
              >
            </p>
          </div>
        </div>
        <div class="col-md-6 col-12 footer-menus">
          <div class="row">
            <div class="col-md-4 offset-md-4 col-6">
              <ul class="footer-menu">
                <li>Resources</li>
                <li>
                  <a href="{{site.baseurl}}/articles/">Micro Articles</a>
                </li>
                <li>
                  <a href="{{site.baseurl}}/blog/">Blog Videos</a>
                </li>
              </ul>
            </div>
            <div class="col-md-4 col-6">
              <ul class="footer-menu">
                <li>Links</li>
                <li>
                  <a
                    href="{{site.twitter_url}}"
                    target="_blank"
                    rel="nofollow noopener noreferrer"
                    >Twitter</a
                  >
                </li>
                <li>
                  <a
                    href="{{site.instagram_url}}"
                    target="_blank"
                    rel="nofollow noopener noreferrer"
                    >Instagram</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
