<div class="get-bitcoin-clarity-div-container">
    <h2><b>Step 1: Get Your Copy of Bitcoin Clarity</b></h2>
    <div class="d-flex justify-content-center">
        <a href="https://www.amazon.com/Bitcoin-Clarity-Complete-Beginners-Understanding/dp/1733871209/" class="btn-white-hover" target="_blank" rel="nofollow noopener noreferrer">Amazon</a>
        <a href="https://www.amazon.com/Bitcoin-Clarity-Complete-Beginners-Understanding/dp/B08TT2TN2P/" class="btn-white-hover" target="_blank" rel="nofollow noopener noreferrer">Audible</a>
        <a href="https://www.amazon.com/Bitcoin-Clarity-Understanding-Kiara-Bickers-ebook/dp/B07ZHY7RF8/" class="btn-white-hover" target="_blank" rel="nofollow noopener noreferrer">Kindle</a>
    </div>
</div>