<header>
	<div class="menu-area">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="title">
						<a href="https://kiarabickers.com/">
							<h6><span>KIARA BICKERS</span></h6> </a>
					</div>
				</div>
				<div class="col-md-7">
					<nav class="navbar navbar-default" role="navigation" stlye="max-width: 100%; padding-right: calc(var(--bs-gutter-x)*.5); padding-left: calc(var(--bs-gutter-x)*.5); margin-top: var(--bs-gutter-y);">
						<div class="nav main-menu navbar-brand">
							<div id="mobile-menu">
								<ul>
									<li> <a href="https://getbitcoinclarity.com/">Book</a> </li>
									<li> <a href="https://kiarabickers.com/articles/">Articles</a> </li>
									<li> <a href="https://kiarabickers.com/permissionless-leverage/">Newsletter</a> </li>
									<li class="d-none d-m-block"> <a href="#">About</a> </li>
								</ul>
							</div>
						</div>
						<div class="mobile-menu"></div>
					</nav>
				</div>
				<div class="col-md-2 d-m-none d-block">
					<div class="title">
						<a href="/">
							<h6>About</h6> </a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
