<section class="service-area grey-bg" style="padding-bottom:70px; padding-top:40px;">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center" style="margin-bottom:40px;">
                <div class="section-title service-title">
                    <h3>It's too easy to see cryptocurrency a tangled knot of chaos</h3>
                </div>
                <div class="about-content">
                  <p>News outlets and social media news feeds are all noise. We need a system from separating the signal from the noise. Like Bruce Lee, we want to absorb what is useful and discard the rest. Instead of chasing every new shiny object I focus on the fundamentals. The facts about this system that don't change with what's trending.</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for focus in site.focuses %}
            <div class="col-lg-3 col-md-6 text-center" style="margin-bottom:30px;">
				{% if focus.icon %}
				<div class="features-icon">
					<img src="{{focus.icon}}" alt="{{focus.title}}">
				</div>
				{% endif %}
				<h4 style="text-align:left;">{{focus.title}}</h4>
				<p style="font-size: 0.88889rem; line-height: 1.24444rem; text-align:left;">{{focus.description}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
