<section class="about-area" style="padding-bottom:80px; padding-top:100px;">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6" style="margin-bottom: 50px;">
            <p style="margin-bottom:25px;">I've been going on and on about what I do, I haven’t told you who I am...</p>
            <div class="section-title">
                <h2>Hi, my name is Kiara Bickers</h2>
            </div>
            <div class="about-content">
                <p>I am a writer, a hopeless romantic and a cryptobiologist. I study digital life like blockhains and document my findings on this little bitcoin blog you're hanging out it.</p>
            </div>
            <div class="call-to-action">
              <a href="{{site.baseurl}}/pages/lp-form" class="btn">No, Really. Let's talk.</a>
            </div><br>
            <p style="margin-bottom:25px;">If things are moving too fast fot you, sign up for my newsletter and I promise we can take it slow.</p>
        </div>
        <div class="col-xl-6 col-lg-6" style="margin-bottom: 20px;">
          <picture>
            <source type="image/webp" srcset="{{site.baseurl}}/assets/img/landing/kiara-bickers-mental-models.webp">
            <source type="image/jp2" srcset="{{site.baseurl}}/assets/img/landing/kiara-bickers-mental-models.jp2">
            <source type="image/jxr" srcset="{{site.baseurl}}/assets/img/landing/kiara-bickers-mental-models.jxr">
            <img src="{{site.baseurl}}/assets/img/landing/kiara-bickers-mental-models.jpg" class="main-responsive center" alt="mental models">
          </picture>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-xl-12 text-center" style="margin-bottom:50px;">
          <center>
            <div class="section-title">
              <h2>You can trust me. <i>Allegedly</i>.</h2>
            </div>
          </center>
          <div class="testimonial-active owl-carousel">
              <div class="single-item testimonial-items text-center">
                  <div class="client-text">
                      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here.
                  </div>
                  <img src="{{site.baseurl}}/assets/img/testimonial/01.jpg" class="img-fluid" alt="">
                  <h4>Evana Chy</h4>
                  <span>Chairman</span>
              </div>
              <div class="single-item testimonial-items text-center">
                  <div class="client-text">
                      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here.
                  </div>
                  <img src="{{site.baseurl}}/assets/img/testimonial/02.jpg" class="img-fluid" alt="">
                  <h4>Ollie Schneider</h4>
                  <span>C.E.O</span>
              </div>
              <div class="single-item testimonial-items text-center">
                  <div class="client-text">
                      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here.
                  </div>
                  <img src="{{site.baseurl}}/assets/img/testimonial/03.jpg" class="img-fluid" alt="">
                  <h4>Jackson Nash</h4>
                  <span>Chairman</span>
              </div>
          </div>
        </div>
      </div> -->
      <div class="row">
          <center>
            <div class="col-xl-12" style="margin-bottom: 50px;">
              <div class="section-title">
                <h2>This is the closest a newsletter will ever get to mailing you bitcoin</h2>
              </div>
              <div class="about-content">
                <p>This is not a conventional 'newsletter’. It's not about day trading your way to millions and a Lambo. It's also not a fancy consortium of ghost blockchain advisors and consultants, <b>but it is a pretty damn good newsletter</b>. It's the intangible sum of all of everything I've written about Bitcoin, books, and whatever else tickles my fancy.</p>
                {% include form.html %}
              </div>
            </div>
          </center>
      </div>
    </div>
</section>
