<section class="about-area" style="padding-bottom: 60px; padding-top: 100px;">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6" style="margin-bottom:50px;">
        <div class="section-title">
          <h1>So you're thinking about investing in "crypto"?</h1>
        </div>
        <div class="about-content">
          <p>I fell into the Bitcoin rabbit hole years ago and I've never made it back out.</p><br>
          <p>When I wanted to learn more about Bitcoin I spent a few years studying economics and markets, a few more years learning how to code... before realizing that none of that information was really necessary for understanding Bitcoin. I had made a fairly time consuming wrong turn. It wasn’t until I learned about the concept of systems thinking, and how to frame my understanding of Bitcoin with mental models that I saw success in explaining these complicated concepts to other people quickly, without them having to do time in this rabbit hole with me.</p><br>
          <p>I've packaged that up all nice and neat for you in <a href="https://getbitcoinclarity.sale/product/book/">the book Bitcoin Clarity</a>. The book has been purchased by hundreds of Bitcoiners, entrepreneurs and investors all looking for a new way to understand Bitcoin. And the book hasn't even <a href="https://amzn.to/35ZkOyt">launched on Amazon</a> yet. But seriously, Bezos has enough money anyway.</p>
        </div>
        <div class="call-to-action" style="margin-bottom:25px;">
          <a href="https://getbitcoinclarity.sale/product/book/" class="btn-white-hover">Give Me The Book</a>
        </div>
        <p>Wow, that's awfully forward of you. I've barely explained what this is about yet.</p>
      </div>
      <div class="col-xl-6 col-lg-6 md-margin" style="margin-bottom:50px;">
        <div class="row">
          <div class="col-md-4">
            <div class="about-img">
              <picture>
                <source type="image/webp" srcset="{{site.baseurl}}/assets/img/landing/bitcoin-clarity.webp">
                <source type="image/jp2" srcset="{{site.baseurl}}/assets/img/landing/bitcoin-clarity.jp2">
                <source type="image/jxr" srcset="{{site.baseurl}}/assets/img/landing/bitcoin-clarity.jxr">
                <img src="{{site.baseurl}}/assets/img/landing/bitcoin-clarity.jpg" class="main-responsive center" alt="bitcoin clarity book">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6" style="margin-bottom:50px;">
        <div class="section-title">
          <h1>So why Bitcoin?</h1>
        </div>
        <div class="about-content">
          <p>The obvious reason is that Bitcoin is the most dominant and trusted cryptocurrency... But why Bitcoin is dominant?</p>
          <p>Why does Bitcoin exist? Because of decentralization.</p>
          <p>Why decentralization? Because of censorship-resistance.</p>
          <p>Why censorship-resistance...</p><br>
          <div class="tooltip">Because censorship is ████████ ████ ████ ██████  ████ ████ ████ ████ ████████ ████ ██fine.  ████████ ████ ████████████ ███████ ███████████ ██████-███████████ █████ ████ █████████ ██████████ citizens' trust ██ their government.<span class="tooltiptext">Because censorship is a tool for control. The truth can be hard to define. But for authoritarian regimes, uncensored regime-threatening information can completely destabilize citizens' trust in their government.</span></div><br><br>
          <p>You can't have free speech without free bank accounts, just ask Wikileaks.</p>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 md-margin" style="margin-bottom:20px;">
        <div class="row">
          <div class="col-md-4">
            <div class="about-img">
              <picture>
                <source type="image/webp" srcset="{{site.baseurl}}/assets/img/landing/signal-voice.webp">
                <source type="image/jp2" srcset="{{site.baseurl}}/assets/img/landing/signal-voice.jp2">
                <source type="image/jxr" srcset="{{site.baseurl}}/assets/img/landing/signal-voice.jxr">
                <img src="{{site.baseurl}}/assets/img/landing/signal-voice.jpg" class="main-responsive center" alt="signal vs. noise">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6" style="margin-bottom:20px;">
        <div class="section-title">
          <h1>Why Bitcoin Clarity?</h1>
        </div>
        <div class="about-content">
          <p>Let's be honest, most people aren't buying into Bitcoin because they expect to use it peer-to-peer. Most people are buying it for the hype. Hype draws people in like flies on a dead possum. Which is to say, that once people are drawn in... they don't care what brought them there. The problem with hype is not that it raises your expectations too high, although even Oscar Wilde can be overhyped.</p><br>
          <p>The problem with hype is that it takes the focus way from <i>utility value</i>, why Bitcoin is useful to you, and puts the focus on <i>exchange value</i>, what Bitcoins' reputation is at any given moment. But when saner minds prevail, they remind us not to buy into the hype at all but to buy the reason for the hype.</p><br>
          <p>If you want a straight-forward way to understand Bitcoin as a system, to separate the signal from the hype, I've put together a <a href="https://app.getbitcoinclarity.com/courses/bitcoin-clarity-accelerator">6-week training in the Bitcoin Clarity Accelerator</a>. In it, you’ll learn the history of cypherpunks, the first Bitcoin client, how to mine, if mining is profitable, the usefulness of the Howey Test, and a bunch more. I've removed all the industry jargon, and explain everything I've ever learned from cypherpunks with the noble simplicity of <a href="https://www.youtube.com/watch?v=oUBQPIk9Wh8">Vivaldi's storm.</a></p>
        </div>
        <div class="call-to-action" style="margin-bottom:25px;">
          <a href="{{site.baseurl}}/pages/lp-form" class="btn-white-hover">Give Me The Accelerator Program</a>
        </div>
        <div>
          <p>Wow… I appreciate the enthusiasm... But how about you buy me dinner first?</p>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 md-margin" style="margin-bottom:20px;">
        <div class="row">
          <div class="col-md-4">
            <div class="about-img">
              <picture>
                <img src="{{site.baseurl}}/assets/img/landing/bitcoin-clarity-accelerator.png" class="main-responsive center" alt="Bitcoin clarity training">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
