<section class="about-area" style="padding-bottom:80px; padding-top:100px;">
    <div class="container">
      <div class="row">
        <center>
        	<div class="col-xl-8" style="margin-bottom:50px;">
  					<div class="section-title">
  						<h2>Learn the way that best suits you</h2>
  					</div>
  					<div class="about-content">
  						<p>You do not need to be a developer, or an expert in economics to use Bitcoin. Experts in all fields, know how to add value, and understand the importance of clarity and efficiency. With 1 to 2 hours a week of video content you can learn anytime, anywhere and whatever way you like with multiple training formats. Bitcoin Clarity comes with an online platform, community discussions, and a physical book.</p>
  					</div>
        	</div>
        </center>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6" style="margin-bottom:40px;">
          <div class="section-title">
            <h2>Get Bitcoin Clarity the book</h2>
          </div>
          <div class="about-content">
            <p>Is Bitcoin a bubble? This is the biggest question potential users want to know. In the book you’ll learn the history of cypherpunks, the first Bitcoin client, the Howey Test, and much more. The book is written for people who may already have some understanding of Bitcoin, and have some experience using it. The Bitcoin Clarity exclusive physical book is only available here and for a limited time over Bitcoin's Lightning network.</p>
          </div>
          <div class="call-to-action">
            <a href="https://getbitcoinclarity.sale/product/book/" class="btn">BUY NOW</a>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 md-margin" style="margin-bottom:20px;">
          <div class="row">
            <div class="col-md-4">
              <div class="about-img">
                <picture>
                  <source type="image/webp" srcset="{{site.baseurl}}/assets/img/landing/bitcoin-clarity.webp">
                  <source type="image/jp2" srcset="{{site.baseurl}}/assets/img/landing/bitcoin-clarity.jp2">
                  <source type="image/jxr" srcset="{{site.baseurl}}/assets/img/landing/bitcoin-clarity.jxr">
                  <img src="{{site.baseurl}}/assets/img/landing/bitcoin-clarity.jpg" class="main-responsive center" alt="bitcoin clarity book">
                </picture>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6" style="margin-bottom:40px;">
          <div class="section-title">
            <h2>Get Bitcoin Clarity the Accelerator</h2>
          </div>
          <div class="about-content">
            <p>For people who want a more in-depth 1-on-1 experience in learning more about Bitcoin join the Bitcoin Clarity Accelerator and we'll ship you the Bitcoin Clarity book for free. This training is 6-weeks long, and we cover everything from the underlying technicals to market analysis. We remove the industry jargon for you, and teach you what you need to know to be an educated investor in cryptocurrency.</p>
          </div>
          <div class="call-to-action">
            <a href="{{site.baseurl}}/pages/lp-form" class="btn">APPLY NOW</a>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 md-margin" style="margin-bottom:20px;">
          <div class="row">
            <div class="col-md-4">
              <div class="about-img">
                <picture>
                  <source type="image/webp" srcset="{{site.baseurl}}/assets/img/landing/bitcoin-clarity-training.webp">
                  <source type="image/jp2" srcset="{{site.baseurl}}/assets/img/landing/bitcoin-clarity-training.jp2">
                  <source type="image/jxr" srcset="{{site.baseurl}}/assets/img/landing/bitcoin-clarity-training.jxr">
                  <img src="{{site.baseurl}}/assets/img/landing/bitcoin-clarity-training.jpg" class="main-responsive center" alt="Bitcoin clarity training">
                </picture>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
