<section class="about-area" style="padding-bottom: 60px; padding-top: 100px;">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6" style="margin-bottom:50px;">
        <div class="section-title">
            <h2>Hi, my name is Kiara</h2>
        </div>
        <div class="home-content">
          <p>I am a writer, sysadmin, and creator of this little site you're hanging out in.</p>
          <p style="margin-bottom:50px;">When I wanted to learn more about Bitcoin I spent a few years studying economics and markets, a few more years learning how to code before realizing that none of that information was all that helpful for understanding Bitcoin. I had made a fairly time consuming wrong turn . . .</p>
          <div class="section-title">
            <h2>Bitcoin is complex not complicated</h2>
          </div>
          <p>It wasn’t until I learned about the concept of systems thinking, and how to frame my understanding of Bitcoin with mental models that I saw success in explaining these concepts to other people quickly.</p>
          <p>I've packaged that up all nice and neat for you in <a href="https://www.amazon.com/dp/1733871209/ref=cm_sw_em_r_mt_dp_kxibGbNDRP5AC">the book</a>. Bitcoin Clarity has been purchased by hundreds of readers all looking for a new way to understand Bitcoin.</p>
          <div class="call-to-action" style="margin-bottom:25px;">
            <a href=https://www.amazon.com/dp/1733871209/ref=cm_sw_em_r_mt_dp_kxibGbNDRP5AC" class="btn-white-hover">Give Me The Book!</a>
          </div>
          <p>Wow, that's awfully forward of you . . .<br>I've barely explained what this is about yet.</p>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 md-margin" style="margin-bottom:50px;">
        <div class="row">
          <div class="col-md-4">
            <div class="about-img">
              <picture>
                <source type="image/webp" srcset="{{site.baseurl}}/assets/img/landing/bitcoin-clarity.webp">
                <source type="image/jp2" srcset="{{site.baseurl}}/assets/img/landing/bitcoin-clarity.jp2">
                <source type="image/jxr" srcset="{{site.baseurl}}/assets/img/landing/bitcoin-clarity.jxr">
                <img src="{{site.baseurl}}/assets/img/landing/bitcoin-clarity.jpg" class="main-responsive center" alt="bitcoin clarity book">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
