<section class="about-area" style="padding-bottom:80px; padding-top:100px;">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6" style="margin-bottom:20px;">
          <div class="section-title">
            <h2>Why Bitcoin Clarity?</h2>
          </div>
          <div class="home-content">
            <p>Let's be honest, most people aren't buying into Bitcoin because they expect to use it peer-to-peer. Most people are buying it for the hype. Hype draws people in like flies on a dead possum. Which is to say, that once people are drawn in, they don't care what brought them there.</p>
            <p>If you want a straight-forward way to separate the signal from the hype, to understand Bitcoin as a system, I've put together the <a href="https://app.getbitcoinclarity.com/courses/bitcoin-clarity-accelerator">Accelerator Program</a> to explain everything you need to know with the beauty of <a href="https://www.youtube.com/watch?v=oUBQPIk9Wh8">Vivaldi's storm.</a></p>
            <div class="call-to-action" style="margin-bottom:25px;">
              <a href="{{site.baseurl}}/pages/lp-form" class="btn-white-hover">No, Really. Let's talk.</a>
            </div>
            <p style="margin-bottom:25px;">If things are moving too fast for you, sign up for my newsletter and I promise we can take it slow.</p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 md-margin" style="margin-bottom:20px;">
          <div class="row">
            <div class="col-md-4">
              <div class="about-img">
                <picture>
                  <img src="{{site.baseurl}}/assets/img/landing/bitcoin-clarity-accelerator.png" class="main-responsive center" alt="Bitcoin clarity training">
                </picture>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
<section class="service-area grey-bg" style="padding-top:100px;">
    <div class="container">
      <div class="row">
          <center>
            <div class="col-xl-12" style="margin-bottom: 50px;">
              <div class="section-title">
                <h2>This is the closest a newsletter will ever get to mailing you bitcoin</h2>
              </div>
              <div class="home-content">
                <p>This is not a conventional 'newsletter’. It's not about day trading your way to millions and a Lambo. It's also not a fancy consortium of ghost blockchain advisors and consultants, <b>but it is a pretty damn good newsletter</b>. It's the intangible sum of all of everything I've written about Bitcoin, books, and whatever else tickles my fancy.</p>
                {% include form.html %}
              </div>
            </div>
          </center>
      </div>
    </div>
</section>
