<section class="service-area grey-bg pb-60 pt-100">
  <div class="container">
    <div class="row">
        <center>
          <div class="col-xl-8 mb-50">
            <div class="section-title">
              <h2>Crypto consulting that isn't a, load of crap</h2>
            </div>
            <div class="about-content">
              <p>Traditional education systems attempt to brainwash their students with the right information. We belive that given accurate information about Bitcoin as a system, and the mental models needed to understand the technical details of it, we provide our clients the best environment to come to their own conclusions on the value of the world in Bitcoin and other cryptocurrencies.</p>
            </div>
          </div>
        </center>
    </div>
    <div class="row">
            <table style="section-title service-title border-style: hidden; width: 100%;"><tbody>
              <tr>
                <td style="padding:15px" align="left">
                  <font color="black"><b>Analytical education (old)</b></font>
                  <br><br>The process of analysis takes you inside of the system, breaks the system it's aiming to understand into parts to get an understanding of what the parts do, then reassembles the parts to get an understanding of the whole. The process of analysis answers how questions, it can give you the knowledge of how Bitcoin works. But why bitcoin works, why it was created, and why other blockchains don’t necessarily share the same potential are questions that can not be answered by a process of analysis.</td>
                <td>
                  <img src="https://i.imgur.com/4NfkuiV.png" class="center" style="max-height: 275px; margin-top:10px;">
                </td>
              </tr>
              <tr>
                <td>
                  <img src="https://i.imgur.com/BmC3iBj.png" class="center" style="max-height: 275px; margin-top:10px;"></td>
                <td style="padding:15px" align="left">
                  <font color="black"><b>Synthetic education (new)</b></font>
                  <br><br>Bitcoin Clarity uses a synthetic training method that aims at deep understanding. This method, unlike traditional courses, focuses on mental models not memorizing Bitcoin trivia or interesting facts. The process of synthesis takes you outside of the system of the blockchain, into the systems Bitcoin lives in, markets and your financial mindset. This is an environment where you can ask any question you have about Bitcoin, get feedback, and learn to make decisions about Bitcoin and cryptocurrency yourself.</td>
              </tr>
            </tbody></table>
        </div>
    </div>
</section>
