<section class="slider-area">
    <div class="slider-active">
        <div class="single-slider">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-12 order-md-1 order-2 top-buffer">
                        <div class="testimonial text-center">
                            <div class="testimonial-stars">
                                <i class="icofont-star checked"></i>
                                <i class="icofont-star checked"></i>
                                <i class="icofont-star checked"></i>
                                <i class="icofont-star checked"></i>
                                <i class="icofont-star checked"></i>
                            </div>
                            <div class="testimonial-text">
                                "A supremely practical and useful book. James Clear distills the most fundamental information about habit formation, so you can accomplish more by focusing on less."
                            </div>
                            <div class="testimonial-author">
                                Mark Manson
                            </div>
                            <div class="testimonial-author-title">
                                #1 New York Times best-selling author
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 order-md-2 order-1 book-cover top-buffer">
                        <div class="bitcoin-clarity-book">
                            <img src="{{site.baseurl}}/assets/img/landing/bitcoin-clarity-book.png" style="margin-left: 5.5px;" alt="Bitcoin Clarity Book Image" data-echo="{{site.baseurl}}/assets/img/landing/bitcoin-clarity-book.png">
                        </div>
                    </div>
                    <div class="col-md-4 col-12 order-md-3 order-3 top-buffer">
                        <div class="testimonial text-center">
                            <div class="testimonial-stars">
                                <i class="icofont-star checked"></i>
                                <i class="icofont-star checked"></i>
                                <i class="icofont-star checked"></i>
                                <i class="icofont-star checked"></i>
                                <i class="icofont-star checked"></i>
                            </div>
                            <div class="testimonial-text" style="font-size: 33px; line-height: 46px">
                                "One of my all-time favorite books."
                            </div>
                            <div class="testimonial-author">
                                Arianna Huffington
                            </div>
                            <div class="testimonial-author-title">
                                Founder, Huffington Post & Thrive Global
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container bitcoin-header top-buffer">
                    <h1>Bitcoin Clarity: The Complete Beginner's Guide to Understanding</h1>
                    <p>This breakthrough book from Kiara Bickers is the most comprehensive guide on how to understand bitcoin as a system.</p>
                </div>
                <div class="step1-container">
                    <h2>Step 1: Get Your Copy of Bitcoin Clarity</h2>
                    <div class="d-flex justify-content-center">
                        <a href="https://www.amazon.com/Bitcoin-Clarity-Complete-Beginners-Understanding/dp/1733871209/" class="btn-white-hover">Amazon</a>
                        <a href="https://www.amazon.com/Bitcoin-Clarity-Complete-Beginners-Understanding/dp/B08TT2TN2P/" class="btn-white-hover">Audible</a>
                        <a href="https://www.amazon.com/Bitcoin-Clarity-Complete-Bhttps://www.amazon.com/Bitcoin-Clarity-Understanding-Kiara-Bickers-ebook/dp/B07ZHY7RF8/" class="btn-white-hover">Kindle</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
