<section class="slider-area">
    <div class="slider-active">
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/landing/kiara-bickers-safe-censor.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInDown" data-delay=".2s">I help users & investors see Bitcoin <span>differently</span>.</h1>
                            <a href="{{site.baseurl}}/pages/lp-form" class="btn" data-animation="fadeInUp" data-delay=".6s">Let's talk.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
