<section class="service-area grey-bg pb-70 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center mb-40">
                <div class="section-title service-title">
                    <h2>We do Bitcoin traning differently</h2>
                    <p>The traditional method of education focuses on learning by analysis and is broken because of it. Bitcoin Clarity is the product of coming up with our own system. Instead of treating Bitcoin as an object to be broken apart into code and crypto. We treat Bitcoin as system that be understood by looking at its functions.</p>
                </div>
            </div>
        </div>
    </div>
</section>
