<section class="service-area grey-bg" style="padding-bottom:70px; padding-top:40px;">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center" style="margin-bottom:10px;">
                <div class="section-title service-title">
                    <h2>It's too easy to see cryptocurrency a tangled knot of chaos</h2>
                </div>
            </div>
        </div>
        <div class="row">
          {% for post in site.posts %}
          <div class="col-xl-4 col-lg-4 col-md-6" style="margin-bottom:60px;">
              <a href="{{post.url}}">
                <div class="blog-wrapper home-blog-wrapper">
                    <div class="blog-thumb">
                        <img src="{{post.post_image}}" alt="{{post.title}}"/>
                    </div>
                    <div class="meta-info">
                        <ul>
                            <li class="posts-time">{{post.date | date_to_long_string}}</li>
                        </ul>
                    </div>
                    <div class="blog-content home-blog">
                        <h2 class="blog-title">
                            <a href="{{post.url}}">{{post.title}}</a>
                        </h2>
                        <p>{{excerpt | truncatewords:"25"}}</p>
                    </div>
                </div>
              </a>
          </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center" style="margin-bottom:30px;">
              <h4 style="text-align:left;">Bitcoin focus</h4>
              <p style="text-align:left;">We start here to get a firm understanding of the first blockchain. <a href="/blog/2020/05/21/what-is-bitcoin">What is Bitcoin</a>, and why do we need it</p>
            </div>
            <div class="col-lg-3 col-md-6 text-center" style="margin-bottom:30px;">
              <h4 style="text-align:left;">Blockchain basics</h4>
              <p style="line-height: 1.24444rem; text-align:left;">Simplify crypto down to its most basic useable parts: <a href="/blog/2020/05/16/what-is-a-bitcoin-private-key">keys</a>, <a href="/blog/2020/05/17/what-is-a-bitcoin-wallet">wallets</a>, UTXOs, transactions, and blocks</p>
            </div>
            <div class="col-lg-3 col-md-6 text-center" style="margin-bottom:30px;">
              <h4 style="text-align:left;">Mental models</h4>
              <p style="text-align:left;"><a href="/blog/2020/05/21/what-is-bitcoin">Think at different levels of abstraction</a>, understand how the metaphors map to the underlying technical details</p>
            </div>
            <div class="col-lg-3 col-md-6 text-center" style="margin-bottom:30px;">
              <h4 style="text-align:left;">Adversarial thinking</h4>
              <p style="text-align:left;">Adopt the thinking of an adversarial hacker, identify risk, develop your threat model, and secure your funds</p>
            </div>
            <div class="col-lg-3 col-md-6 text-center" style="margin-bottom:30px;">
              <h4 style="text-align:left;">Mining & profitability</h4>
              <p style="text-align:left;">What is mining and when is it profitable? Calculate your electricity costs, hardware, and failure rate</p>
            </div>
            <div class="col-lg-3 col-md-6 text-center" style="margin-bottom:30px;">
              <h4 style="text-align:left;">Smart contracts</h4>
              <p style="text-align:left;">Self-executing code on the blockchain, advanced transactions, opcodes, and using the lighting network</p>
            </div>
            <div class="col-lg-3 col-md-6 text-center" style="margin-bottom:30px;">
              <h4 style="text-align:left;">Tokens & securities</h4>
              <p style="text-align:left;">Crypto-assets, security tokens vs. tokenized securities, launching tokens for shares, air, or equity</p>
            </div>
            <div class="col-lg-3 col-md-6 text-center" style="margin-bottom:30px;">
              <h4 style="text-align:left;">Mental models</h4>
              <p style="text-align:left;">How to evaluate opportunities in this new industry, white papers, research, analyze, technical, and legal viability</p>
            </div>
            <div class="col-lg-3 col-md-6 text-center" style="margin-bottom:30px;">
              <h4 style="text-align:left;">Accounting, legal & tax</h4>
              <p style="text-align:left;">Double-entry accounting, triple-entry accounting, how to track your coins and keep more of your money</p>
            </div>
            <div class="col-lg-3 col-md-6 text-center" style="margin-bottom:30px;">
              <h4 style="text-align:left;">Buying, Selling, Trading</h4>
              <p style="text-align:left;">The value of information, avoiding the hype/panic cycle, develop your own trading strategy without the jargon</p>
            </div>
            <div class="col-lg-3 col-md-6 text-center" style="margin-bottom:30px;">
              <h4 style="text-align:left;">Psychology & mindset</h4>
              <p style="text-align:left;">How to go against crypto-tribalism, think for yourself, and be better than the so called experts</p>
            </div>
            <div class="col-lg-3 col-md-6 text-center" style="margin-bottom:30px;">
              <h4 style="text-align:left;">Earn in crypto</h4>
              <p style="text-align:left;">Accept cryptocurrencies in your existing business, use crypto interest accounts, or work for Bitcoin</p>
            </div>
        </div>
    </div>
</section>
