/* XL Device :1200px. */

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
	.md-margin {
		margin-top: 50px;
	}
	blockquote::before {
		left: 40px;
	}
	blockquote::after {
		right: 40px;
	}
	blockquote {
		padding: 0 85px;
	}
}


/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {

	.slider-content {
    max-width: 400px;
    margin-top: 250px;
    }
	.slider-content h1 {
		font-size: 2.5em;
	}
	.menu-area {
		padding: 20px 0;
	}
	.logo img {
		margin-left: 1px;
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.slider-bg {
		height: 600px;
	}
	.about-img img {
		width: 100%;
	}
	blockquote::before {
		display: none;
	}
	blockquote::after {
		display: none;
	}
	blockquote {
		padding: 0 10px;
	}
	.contact-form-title p {
		width: 70%;
	}
	.call-to-action a {
		padding: 18px 30px;
	}
	.bitcoin-header h1 {
		font-size: 32px;
		line-height: 125%;
		letter-spacing: -1px;
	}
}


/* Extra small Device. */
@media (max-width: 767px) {

	.single-slider {
		background: linear-gradient(to bottom, #F8F9FA 0%, #F8F9FA 20%, #fff 20%, #fff 100%);
	}
	.step1-container {
		padding: 7px 0 40px;
		margin-left: -15px;
		margin-right: -15px;
	}
	.slider-content {
        max-width: 350px;
    	margin-top: 200px;
    }
	.slider-content h1 {
		font-size: 2em;
	}
	.menu-area {
		padding: 20px 1px;
	}
	.logo img {
		margin-left: 1px;
	}
	.btn {
		padding: 15px 25px;
	}
	.slider-bg {
		height: 480px;
	}
	.about-img img {
		width: 100%;
	}
	blockquote::before {
		display: none;
	}
	blockquote::after {
		display: none;
	}
	blockquote {
		padding: 0;
	}
	.contact-form-title p {
		width: 100%;
	}

	.ordered-columns-items {
		-webkit-column-count: unset;
    	-moz-column-count: unset;
    	column-count: unset;
	}

	.bitcoin-header h1 {
		font-size: 32px;
		line-height: 125%;
		letter-spacing: -1px;
	}

	.service-title h1 {
		font-size: 32px;
		line-height: 125%;
		letter-spacing: -1px;
	}

}
/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {
	.slider-content h1 {
		font-size: 40px;
	}
}
