---
layout: default
---
{% include header.html %}
<main>
<!-- breadcrumb-area -->
<section class="breadcrumb-area-large" style="background-image:url({{site.cover_image}})"">
  <div class="container">
      <div class="row" style="margin-top: 350px;">
        <div class="col-12 text-center">
          <h2><font color="white">Hi I'm, Kiara Bickers</font></h2>
          <h4><font color="white">Author, & Creator of Bitcoin Clarity</font></h4>
        </div>
      </div>
  </div>
</section>

{{content}}
</main>
